<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Internship Portal Signup</title>
  <link rel="stylesheet" href="TPO_Signup.css">
</head>
<body>
    <div class="blob blob1"></div>
    <div class="blob blob2"></div>

  <div class="login-container">
    <h2>TPO Signup</h2>
    <form>
      <input type="email" placeholder="Official Email ID" required>
      <input type="password" placeholder="Password" required>
      <input type="text" placeholder="First Name" required>
      <input type="text" placeholder="Last Name" required>
      <input type="tel" placeholder="Mobile Number" required>
      <button type="submit">Post for Free</button>
    </form>
    <p class="note">Already have an account? <a href="#">Login</a></p>
  </div>
  <script src="TPO_Signup.js"></script>
</body>
</html>
